# Credenciais
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Vídeos e mídia
*.mp4
*.mov
*.avi
*.log

# Pastas geradas em execução
downloads/
historico/
output/
temp/

# Executáveis grandes (baixar separado na VPS)
ffmpeg.exe
ffprobe.exe
chromedriver.exe

# Windows
Thumbs.db
desktop.ini

#Outros
historico_roteiros.json